<a href="https://colab.research.google.com/github/Jason-R27/BTE-320/blob/main/BTE_320_In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

In [ ]:
sales = float(input("Enter sales ($): "))
cogs = sales * 0.4
gp = sales - cogs

print("Sales: $", sales)
print("Cost of Goods Sold: $", cogs)
print("Gross Profit: $", gp)

Enter sales ($): 12000
Sales: $ 12000.0
Cost of Goods Sold: $ 4800.0
Gross Profit: $ 7200.0

In [ ]:
sales = float(input("Enter sales ($): "))
cogs = sales * 0.4
gp = sales - cogs
tr = float(input("Enter tax rate (%): "))
tax = tr * gp
net = gp - tax

print("Sales: $", sales)
print("Cost of Goods Sold: $", cogs)
print("Gross Profit: $", gp)
print ("Taxes: $", tax)
print("Net income: $:", net)

Enter sales ($): 12000
Enter tax rate (%): 0.3
Sales: $ 12000.0
Cost of Goods Sold: $ 4800.0
Gross Profit: $ 7200.0
Taxes: $ 2160.0
Net income: $: 5040.0

Assignment 2

In [ ]:
N1 = float(input("Enter number 1: "))
Sign = input("Enter Sign: ")
N2 = float(input("Enter number 2: "))

if Sign == "+":
  print(N1+N2)
if Sign == "-":
  print(N1-N2)
if Sign == "*":
  print(N1*N2)
if Sign == "/":
  print(N1/N2)

Enter number 1: 3
Enter Sign: *
Enter number 2: 4
12.0

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Choose numerical operation (e.g., +, -, *, etc.): ")

if op == "+":
  res = num1 + num2
elif op == "-":
  res = num1 - num2
elif op == "*":
  res = num1 * num2
elif op == "/":
  res = num1 / num2
elif op == "//":
  res = num1 // num2
elif op == "**":
  res = num1 ** num2
elif op == "%":
  res = num1 % num2
else:
  print("Invalid operation")

print(f"Result: {res}")

Enter first number: 3
Enter second number: 2
Choose numerical operation (e.g., +, -, *, etc.): *
Result: 6.0

Assignment 3

In [ ]:
print("Hour","Fee")
for hour in range(1, 9):
  fee = 5 + 2.5 * hour
  print(f"{hour}    {fee}")

Hour Fee
1    7.5
2    10.0
3    12.5
4    15.0
5    17.5
6    20.0
7    22.5
8    25.0

In [ ]:
print("Hour\tFee")
for hour in range(1, 9):
  fee = 5 + 2.5 * hour
  if fee < 10:
    fee = 10.0
  if fee > 20:
    fee = 20.0
  print(f"{hour}\t{fee}")

Hour	Fee
1	10.0
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	20.0
8	20.0

In [7]:
print("Hour\tFee")
hour = 1
while hour < 9:
  fee = 5 + 2.5 * hour
  if fee < 10:
    fee = 10.0
  if fee > 20:
    fee = 20.0
  print(f"{hour}\t{fee}")
  hour += 1

Hour	Fee
1	10.0
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	20.0
8	20.0

Assignment 4

In [ ]:
print("Ad$\tProfit")
for advertising_dollars in range(0, 325, 25):
  aditional_attendees = 2 * round((advertising_dollars**0.5))
  profit = 200 + ((aditional_attendees)*10) - (advertising_dollars + 200)
  print(f"{float(advertising_dollars)}\t{float(profit)}")

Ad$	Profit
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0
225.0	75.0
250.0	70.0
275.0	65.0
300.0	40.0

In [9]:
import math

ticketPrice = 10
initAttendee = 20

print("Ad$\tProfit")
ad = 0
while ad < 201:
  revenue = (initAttendee + 2 * round(math.sqrt(ad))) * ticketPrice
  costs = 200 + ad
  profit = revenue - costs
  print(f"{float(ad)}\t{float(profit)}")
  ad += 25

Ad$	Profit
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0